* {
    box-sizing: border-box;
}

body{
    background-image: url("background.jpeg");
}

h1 {
    color: purple;
    font-size: 120px;
    text-align: center;
}

p {
    color: purple;
    font-size: 60px;
    text-align: center;
}

div{
    color: purple;
    text-align: center;
    list-style-type: none;
    font-size: 30px;
}

a{
    margin: 40px;
}